


 body {
	background: #ffffff;
	color: #757575;
	font-family: 'Poppins', sans-serif;
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	overflow-x: hidden;
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 1096;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	font-family: 'Poppins', sans-serif;
	color: #000;
}

p {
	padding: 0;
	margin: 0;
	font-size: 14px;
	color: #757575;
	line-height: 25px;
	font-family: 'Open Sans', sans-serif;
}
a {
	color: #000;
	text-decoration: none !important;
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

img {
	width: 100%;
}

a:hover {
	color: rgb(255, 106, 79);
	-moz-transition: all 0.5s ease-in-out 0s;
	-ms-transition: all 0.5s ease-in-out 0s;
	-o-transition: all 0.5s ease-in-out 0s;
	-webkit-transition: all 0.5s ease-in-out 0s;
	transition: all 0.5s ease-in-out 0s;
}

a:hover, a:focus {
	color: rgb(255, 106, 79);
	text-decoration: none;
}


.form-control:focus {
	box-shadow: none;
	outline: 0 none;
	border-bottom: 1px solid #222222;
}

.site-btn:focus {
	outline: none !important;
	box-shadow: none !important;
}

.site-btn {
	display: inline-block;
	padding: 9px 35px;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-size: 16px;
	text-transform: capitalize;
	letter-spacing: 2px;
	border-radius: 30px;
	font-weight: 600;
	border: 3px solid rgb(255, 106, 79);
	background: rgb(255, 106, 79);
	transition: all 500ms ease;
	cursor: pointer;
	color: #fff;
}

.site-bton:focus {
	outline: 0;
	box-shadow: none;
}

.site-bton:hover {
	background-color: transparent;
	color: #000;
	transition: all 500ms ease;
}
.site-bton:focus {
	outline: none !important;
	box-shadow: none !important;
}

.site-bton {
	display: inline-block;
	padding: 5px 137px;
	text-align: center;
	vertical-align: middle;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	text-transform: capitalize;
	letter-spacing: 2px;
	border-radius: 3px;
	font-weight: 600;
	border: 3px solid rgb(50, 81, 117);
	background: rgb(73, 92, 114);
	transition: all 500ms ease;
	cursor: pointer;
	color: #fff;
}

.site-bton:focus {
	outline: 0;
	box-shadow: none;
}

.site-bton:hover {
	background-color: rgba(16, 32, 32, 0.192);
	color: rgb(139, 117, 117);
	transition: all 500ms ease;
}

dl, ol, ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

.section-padding {
	padding: 100px 0;
}

.section-title {
	text-align: center;
	margin-bottom: 85px;
	position: relative;
}

.section-title:before {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -30px;
    display: inline-block;
    height: 3px;
    width: 90px;
    background-color: #000;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.section-title:after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: -30px;
    display: inline-block;
    height: 3px;
    width: 40px;
    background-color: rgb(255, 106, 79);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    transform: translateX(-50%);
}
.section-title h2 {
	font-size: 32px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
}
.section-title p {
	font-size:15px;
}

.section-title span {
    font-size: 100px;
    position: absolute;
    left: 0;
    right: 0;
    text-align: center;
    top: -40px;
    z-index: 0;
    opacity: 0.05;
    font-weight: 900;
	text-transform: uppercase;
}
div#client-slide .owl-dots {
    display: none;
}
.box-shadow {
	box-shadow: 0px 10px 40px rgba(0,0,0,0.06);
}

.display-table {
	width: 100%;
	height: 100%;
	display: table;
}

.table-cell {
	display: table-cell;
	vertical-align: middle;
}

.section-title p.flip {
	position: relative;
	display: block;
	width: 100%;
	margin-top: 20px;
}

.section-title p.flip:after {
	position: absolute;
	bottom: 4px;
	left: -100px;
	right: 0;
	content: '';
	width: 40px;
	height: 1px;
	background: rgb(255, 106, 79);
	margin: 0 auto;
}

.section-title p.flip:before {
	position: absolute;
	bottom: 4px;
	left: 100px;
	right: 0;
	content: '';
	width: 40px;
	height: 1px;
	background: rgb(255, 106, 79);
	margin: 0 auto;
}

.section-title p.flip span {
	position: absolute;
}

.section-title p.flip span.deg1 {
	position: absolute;
	bottom: 2px;
	left: -30px;
	right: 0;
	width: 6px;
	height: 6px;
	content: '';
	background: rgb(255, 106, 79);
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	margin: 0 auto;
}

.section-title p.flip span.deg2 {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	width: 10px;
	height: 10px;
	content: '';
	background: rgb(255, 106, 79);
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	margin: 0 auto;
}

.section-title p.flip span.deg3 {
	position: absolute;
	bottom: 2px;
	left: 30px;
	right: 0;
	width: 6px;
	height: 6px;
	content: '';
	background: rgb(255, 106, 79);
	-webkit-transform: rotate(135deg);
	-ms-transform: rotate(135deg);
	transform: rotate(135deg);
	margin: 0 auto;
}

.owl-theme .owl-dots {
	text-align: center;
	margin-top: 18px;
}

.owl-theme .owl-dots .owl-dot {
	display: inline-block;
	outline: none;
}

.owl-theme .owl-dots .owl-dot span {
	width: 10px;
	height: 7px;
	margin: 5px 5px;
	background: #cde1f8;
	border: 0px solid #cde1f8;
	display: block;
	transition: all 0.6s ease-in-out;
	cursor: pointer;
	border-radius: 25px;
}

.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #cde1f8;
}

.owl-theme .owl-dots .owl-dot.active span {
	background-color: rgb(255, 106, 79);
	width: 20px;
	border-radius: 25px;
}

.back-to-top {
	position: fixed;
	display: none;
	background: rgb(255, 106, 79);
	color: #fff;
	width: 44px;
	height: 44px;
	text-align: center;
	line-height: 1;
	font-size: 16px;
	border-radius: 5px;
	right: 15px;
	bottom: 15px;
	transition: background 0.5s;
	z-index: 11;
}

.back-to-top i {
	padding-top: 12px;
	color: #fff;
}

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 9999;
	overflow: hidden;
	background: #fff;
}

#preloader:before {
	content: "";
	position: fixed;
	top: calc(50% - 30px);
	left: calc(50% - 30px);
	border: 6px solid #f2f2f2;
	border-top: 6px solid rgb(255, 106, 79);
	border-radius: 50%;
	width: 60px;
	height: 60px;
	-webkit-animation: animate-preloader 1s linear infinite;
	animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

@keyframes animate-preloader {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
/**
 * -------------------------------------------------------
 * 01. NAVBAR STYLES
 * -------------------------------------------------------
 **/

 .navbar-b {
	transition: all .5s ease-in-out;
	background-color: transparent;
	padding-top: 1.563rem;
	padding-bottom: 1.563rem;
}

.navbar-b.navbar-reduce {
	box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}

.navbar-b.navbar-trans .nav-item, .navbar-b.navbar-reduce .nav-item {
	position: relative;
	padding-left: 0;
}

.navbar-b.navbar-trans .nav-link, .navbar-b.navbar-reduce .nav-link {
    color: #fff;
    text-transform: capitalize;
    font-weight: 600;
    letter-spacing: 0.3px;
    font-family: 'Open Sans', sans-serif;
    padding: 12px 12px;
}

.navbar-b.navbar-trans .nav-link:hover, .navbar-b.navbar-reduce .nav-link:hover {
	color: #1B1B1B;
}

.navbar-b.navbar-trans .nav-link:hover {
	color: #fff;
}

.navbar-b.navbar-trans .show > .nav-link, .navbar-b.navbar-trans .active > .nav-link, .navbar-b.navbar-trans .nav-link.show, .navbar-b.navbar-trans .nav-link.active {
	color: #fff;
}

.navbar-b.navbar-reduce {
	transition: all .5s ease-in-out;
	background-color: #fff;
	padding-top: 0;
	padding-bottom: 0;
}

.navbar-b.navbar-reduce .nav-link {
	color: #000;
}

.navbar-b.navbar-reduce .nav-link:before {
	background-color: rgb(255, 106, 79);
}

.navbar-b.navbar-reduce .nav-link:hover {
	color: rgb(255, 106, 79);
}

.navbar-b.navbar-reduce .show > .nav-link, .navbar-b.navbar-reduce .active > .nav-link, .navbar-b.navbar-reduce .nav-link.show, .navbar-b.navbar-reduce .nav-link.active {
    color: #ffffff;
    background: rgb(255, 106, 79);
}

.navbar-b.navbar-reduce .navbar-brand {
	color: #000;
}
.navbar-expand-md .navbar-nav .nav-link {
    padding-right: 15px;
    padding-left: 15px;
}
.navbar-b.navbar-reduce .navbar-toggler span {
	background-color: #1B1B1B;
}

.navbar-b .navbar-brand {
	color: #fff;
	font-size: 23px;
	font-weight: 600;
	letter-spacing: 3px;
}

.navbar-b .navbar-nav .dropdown-item.show .dropdown-menu, .navbar-b .dropdown.show .dropdown-menu, .navbar-b .dropdown-btn.show .dropdown-menu {
	-webkit-transform: translate3d(0px, 0px, 0px);
	transform: translate3d(0px, 0px, 0px);
	visibility: visible !important;
}

.navbar-b .dropdown-menu {
	margin: 1.12rem 0 0;
	border-radius: 0;
}

.navbar-b .dropdown-menu .dropdown-item {
	padding: .7rem 1.7rem;
	transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item:hover {
	background-color: rgb(255, 106, 79);
	color: #fff;
	transition: all 500ms ease;
}

.navbar-b .dropdown-menu .dropdown-item.active {
	background-color: rgb(255, 106, 79);
}

.navbar-toggler {
	position: relative;
}

.navbar-toggler:focus, .navbar-toggler:active {
	outline: 0;
}

.navbar-toggler span {
	display: block;
	background-color: #fff;
	height: 3px;
	width: 25px;
	margin-top: 4px;
	margin-bottom: 4px;
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	left: 0;
	opacity: 1;
}

.navbar-toggler span:nth-child(1), .navbar-toggler span:nth-child(3) {
	transition: -webkit-transform .35s ease-in-out;
	transition: transform .35s ease-in-out;
	transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

.navbar-toggler:not(.collapsed) span:nth-child(1) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(135deg);
	transform: rotate(135deg);
	opacity: 0.9;
}

.navbar-toggler:not(.collapsed) span:nth-child(2) {
	height: 12px;
	visibility: hidden;
	background-color: transparent;
}

.navbar-toggler:not(.collapsed) span:nth-child(3) {
	position: absolute;
	left: 12px;
	top: 10px;
	-webkit-transform: rotate(-135deg);
	transform: rotate(-135deg);
	opacity: 0.9;
}
/**
 * -------------------------------------------------------
 * 01. HOME SECTION STYLES
 * -------------------------------------------------------
 **/
.home-section {
    height: 100vh;
    position: relative;
    color: #fff;
    text-align: center;
    background: url(https://prod-virtuoso.dotcmscloud.com/dA/188da7ea-f44f-4b9c-92f9-6a65064021c1/heroImage1/PowerfulReasons_hero.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    z-index: 1;
    overflow-x: hidden !important;
}
.home-section::after {
    position: absolute;
    top: 0;
    content: "";
    left: 0px;
    padding: 0;
    height: 100%;
    width: 100%;
    opacity: .9;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.75);
}
.header-content h1 {
    font-size: 55px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 15px;
}
.header-content .site-btn:hover {
	color: #fff;
}

.header-content p {
    color: #fff;
    font-size: 17px;
    margin-bottom: 20px;
}
.video-highlight{
	position: absolute;
    left: 17%;
	bottom: 40px;
    transform: translate(-50%, -50%);
    z-index: 1;
}
.popup-video i {
    font-size: 25px;
    /* background: rgba(0, 0, 0, 0.67); */
    color: #fff;
    border-radius: 50%;
    text-align: center;
    -webkit-border-radius: 50%;
    border: 4px solid #fff;
    -moz-border-radius: 50%;
    width: 80px;
    line-height: 75px;
    height: 80px;
    padding-left: 5px;
}
.video-caption {
    float: right;
    margin-top: 24px;
    padding-left: 15px;
}
.video-highlight .video-caption h3 {
    font-size: 20px;
    color: #fff;
    font-weight: bold;
    letter-spacing: 2px;
}
.video-highlight .video-caption h6 {
    color: #fff;
    letter-spacing: 1px;
	text-align: left;
}
/**
 * -------------------------------------------------------
 * 04. TOUR SECTION STYLES
 * -------------------------------------------------------
 **/
.tour-area {
    background: #f6f7f9;
}
.tour-single-item {
    box-shadow: 0px 6px 9px 0px rgba(0, 0, 0, 0.06);
}
.tour-single-image {
    position: relative;
}
.tour-cell-package {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px 15px 0px 15px;
    border-radius: 30px;
    color: #fff;
    margin: 20px 20px;
    display: inline-block;
    background: rgb(255, 106, 79);
}
.tour-new-package {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0px 15px 0px 15px;
    border-radius: 30px;
    color: #fff;
    margin: 20px 20px;
    display: inline-block;
    background: rgb(255, 106, 79);
}
.tour-hot_price {
    position: absolute;
    background: rgba(255, 106, 79, 0.75);
    padding: 10px 15px;
    color: #fff;
    top: 0;
    right: 0;
    letter-spacing: 2px;
}
.package-offer {
    background: #fff;
    padding: 20px 20px;
}
.rating i {
    color: #fdbe1a;
}
.package-offer .offer-time {
    margin: 3px 0;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    text-transform: capitalize;
    color: #333;
}
.package-offer h5 {
    margin-bottom: 5px;
}
 /**
 * -------------------------------------------------------
 * 05. SERVICE SECTION STYLES
 * -------------------------------------------------------
 **/

.iconbox {
	background: #fff none repeat scroll 0 0;
	padding: 50px 20px;
	position: relative;
	text-align: center;
	max-width: 340px;
	margin: 30px auto;
    box-shadow: 0 1px 6px rgba(57,73,76,.35);
}

.iconbox-icon {
	color: rgba(253,115,90,1);
	position: absolute;
	left: 0;
	right: 0;
	top: -35px;
	height: 80px;
	width: 80px;
	margin: 0 auto;
	background: #fff;
	display: block;
	line-height: 80px;
	border-radius: 50px;
	font-size: 30px;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.07);
}

.iconbox-text {
	padding-top: 30px;
}

.iconbox-title {
    margin: 0 0 15px;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #5d5d5d;
}
 
/**
 * -------------------------------------------------------
 * 06. GALLERY SECTION STYLES
 * -------------------------------------------------------
 **/
 .portfolio-section {
    background: #f6f7f9;
}
.single-item img {
    width: 100%;
    transition: all ease 0.5s;
}
.single-item {
    padding: 0;
}
.effect-ruby{
	overflow:hidden;
	display:block;
}
.effect-ruby img {
	 -webkit-transform: scale(1.15);
	 transform: scale(1.15);
}

.effect-ruby:hover img {
	-webkit-transform: scale(1);
	transform: scale(1);
}

.portfolio-thumb {
  position: relative;
  display: block;
}
.portfolio-thumb .portfolio-hover-title {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    -webkit-transition: all .3s;
    transition: all .3s;
    opacity: 0;
    background-color: rgba(255, 106, 79, 0.75);
}
.portfolio-thumb .portfolio-hover-title:hover {
    opacity: 1;
}
.portfolio-thumb .portfolio-hover-title .portfolio-content
{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    margin-top: -20px;
    -webkit-transition: all .3s;
    transition: all .3s;
    text-align: center;
}
.portfolio-content h4 {
    color: #fff;
    font-weight: 400;
    font-size: 20px;
    letter-spacing: 2px;
}
.portfolio-content p {
    color: #fff;
}


/**
 * -------------------------------------------------------
 * 07. TESTIMONIAL SECTION STYLES
 * -------------------------------------------------------
 **/
 .testimonial-area {
    background: #f6f7f9;
}
.testimonial-item {
    text-align: center;
    padding: 50px 80px 40px;
    background-color: #ffffff;
    cursor: all-scroll;
}
.testimonial-info {
    display: inline-block;
    margin-top: 13px;
}
.testimonial-image {
    width: 70px;
    height: 70px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
}
.testimonial-name {
    float: left;
    padding-left: 20px;
    text-align: left;
    margin-top: 18px;
}
.testimonial-name h6 {
    font-size: 15px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.testimonial-name span {
    font-size: 12px;
    letter-spacing: 1px;
}
/**
 * -------------------------------------------------------
 * 08. CLIENT LOGO SECTION STYLES
 * -------------------------------------------------------
 **/
  .single-company-logo {
    text-align: center;
} 
.single-company-logo img {
    width: 130px !important;
	margin: 0 auto;
}
.client-slide .owl-theme .owl-dots .owl-dot {
	display: none !important;
}
.client-slide .owl-theme .owl-dots {
	display: none !important;
}
/**
 * -------------------------------------------------------
 * 09. DESTINATION SECTION STYLES
 * -------------------------------------------------------
 **/
 .destination-package-dec {
    position: absolute;
    bottom: 0;
    padding: 30px;
    left: 0;
    width: 100%;
    z-index: 1;
}
.destination-package-dec:before {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    content: "";
    opacity: 1;
    background: linear-gradient(rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 75%);
    z-index: -1;
}

.destination-single-image {
    position: relative;
	margin-bottom: 30px;
}
.cell-package {
    position: absolute;
    top: 0;
    padding: 0px 15px 0px 15px;
    left: 0;
    border-radius: 30px;
    color: #fff;
    margin: 20px 20px;
    display: inline-block;
    background: rgb(255, 106, 79);
}
.destination-package-dec h6 {
    font-size: 14px;
    letter-spacing: 2px;
	color: #fff;
}

.destination-package-dec h3 {
    font-size: 20px;
    margin-bottom: 8px;
	color: #fff;
}
 .dec-btn {
    position: absolute;
    top: 31px;
    right: 33px;
    background: white;
    color: #000;
    font-size: 20px;
    width: 45px;
    height: 45px;
    line-height: 46px;
    text-align: center;
    border-radius: 50%;
    padding-left: 2px;
}
 
/**
 * -------------------------------------------------------
 * 10. BLOG SECTION STYLES
 * -------------------------------------------------------
 **/
 .blog-area {
    background: #f6f7f9;
}

.blog-item {
	display: block;
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
	box-shadow: 0 1px 6px rgba(57,73,76,.35);
}
.blog-item:hover {
    transform: translateY(-7px);
    -webkit-transform: translateY(-7px);
    -moz-transform: translateY(-7px);
    transition: transform 0.5s ease;
    -webkit-transition: transform 0.5s ease;
    -moz-transition: transform 0.5s ease;
}
.blog-text {
    padding: 20px 25px 25px;
}
.blog-text .blog-date {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 2px;
    color: #8e8e8e;
}


.blog-text h3 {
    font-size: 20px;
	margin: 10px 0;
}

/**
 * -------------------------------------------------------
 * 11. CONTACT SECTION STYLES
 * -------------------------------------------------------
 **/
 #contact {
	height: auto;
	width: 100%;
}

.contact-details {
	margin-bottom: 30px;
}

.contact-details h4 {
    color: #696969;
    font-weight: 600;
    font-size: 18px;
}

.contact-info {
	margin-top: 10px;
}

.site-btn i {
	color: #fff;
	margin-left: 10px;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}

.site-btn:hover i {
	color: #000;
	-webkit-transform: translateX(7px);
	-ms-transform: translateX(7px);
	-o-transform: translateX(7px);
	transform: translateX(7px);
}
.form-control {
	height: 42px;
	width: 100%;
	background: #fff;
	border: none;
	border-bottom: 1px solid #dddddd;
	margin-bottom: 20px;
	letter-spacing: 1px;
	font-size: 13px;
	padding-left: 0px;
	border-radius: 0;
}

textarea.form-control {
	height: auto;
}

.form-control:focus {
	box-shadow: none;
	outline: 0 none;
	border-bottom: 1px solid #222222;
}

/**
 * -------------------------------------------------------
 * 12. FOOTER SECTION STYLES
 * -------------------------------------------------------
 **/
.footer .footer-top {
    padding: 70px 0;
    background: #101010;
}

.footer .footer-bottom {
    padding: 30px;
    background: black;
}
.footer-item .f-logo {
    margin-bottom: 30px;
}
.footer h4 {
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: 600;
    color: #ffffff;
}


ul.links li a {
    color: #fff;
}

ul.links li a:hover {
    color: rgb(255, 106, 79);
}

ul.contact-info li a:hover {
    color: rgb(255, 106, 79);
}

ul.contact-info li a {
    color: #fff;
}

ul.contact-info li {
    color: #fff;
    margin-bottom: 10px;
}

.footer-item .text p {
    color: #fff;
}
.footer .footer-top form .form-control {
    width: 80%;
    height: 40px;
    padding: 10px 15px;
    border-radius: 0;
    font-size: 13px;
    outline: 0;
    border: 1px solid #ebebeb;
}
.footer .form-inline .btn {
    width: 20%;
    border-radius: 0;
    padding: 11px 13px;
    font-size: 11px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    background: rgb(255, 106, 79);
    color: #fff;
}
.copy {
    color: #fff;
    float: left;
}

ul.links li {
    margin-bottom: 10px;
}
.Subscribe-box p {
    color: #fff;
    margin-bottom: 10px;
}
.footer-bottom .copy {
    color: #fff;
    float: left;
}
.footer-bottom .social-list {
    float: right;
}

.social-list li {
    display: inline-block;
}

.social-list li a {
    display: inline-block;
    margin-left: 15px;
    color: #fff;
}
.col img{
    width:635px ;
    height: 450px;
    font-size: 2rem;
}
.container-fluid{
    background-color: rgba(71, 67, 67, 0.06);
 }
 h4{
     color: white;
 }
 .carousel-caption p{
     color: white;
 }
 .portfolio-item img{
width: 600px;
font-size: 1rem;

 }
 .iconbox-icon {

    font-size: 20px;
    text-rendering: auto;

	color: rgb(235, 22, 22);
}


.destination-single-image {
    position: relative;
    margin-bottom: 30px;
}
.blog-text{
	background-color: lightblue;
	margin-bottom: 10px;

}
